<div class="recipes-filters">
  <label for="search">Search</label>
  <input type="text" id="search" [(ngModel)]="search" (input)="filterRecipes()">
</div>
<div class="recipes-table grid">
  <!-- <div class="recipes-table-header">
    <div></div>
    <div>Name</div>
    <div>Difficulty</div>
    <div>Time</div>
    <div>Ingredients</div>
    <div>kcal / serv.</div>
  </div>
  <div class="recipes-table-body">
    <div class="recipe-row" *ngFor="let recipe of recipes">
      <div class="recipe-image">
        <img [src]="recipe.image" alt="Recipe Image">
      </div>
      <div class="recipe-name">
        <h3> {{recipe.name}} </h3>
      </div>
      <div class="recipe-difficulty">
        <div>{{recipe.difficulty}}</div>
      </div>
      <div class="recipe-time">
        <div>{{recipe.prepTimeMinutes}} min</div>
      </div>
      <div class="recipe-ingredients">
        <div class="ingredients-wrapper">
          <div *ngFor="let ingredient of recipe.ingredients"> {{ingredient}} </div>
        </div>
      </div>

      <div class="recipe-calories"> {{recipe.caloriesPerServing}} kcal</div>


      <div class="recipe-cuisine"></div>
      <div class="recipe-tags">
        <div *ngFor="let recipeTag of recipe.tags"> {{recipeTag}} </div>
      </div>
      <div class=""></div>
    </div>
  </div> -->

  <div class="recipes-table-header">
    <div *ngFor="let column of tableColumns" (click)="sortRecipes(column.objPropName)" class="flex">
      <div>{{column.header}}</div>
      <div *ngIf="sortBy && sortBy.column == column.objPropName">
        <ng-container *ngIf="sortBy.direction == 'asc'">^</ng-container>
        <ng-container *ngIf="sortBy.direction == 'desc'">v</ng-container>
      </div>
    </div>
  </div>
  <div class="recipes-table-body">
    <div class="recipe-row" *ngFor="let recipe of recipes">
      <div *ngFor="let column of tableColumns" class="recipe-{{column.objPropName}}">
        <ng-container [ngSwitch]="column.objPropName">
          <img *ngSwitchCase="'image'" [src]="recipe.image" alt="Recipe Image">
          <div *ngSwitchCase="'ingredients'" class="ingredients-wrapper">
            <div *ngFor="let ingredient of recipe.ingredients"> {{ingredient}} </div>
          </div>
          <div *ngSwitchDefault> {{recipe[column.objPropName]}} </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>
