<div class="p-6 flex items-center">
  <div class="profile-pic mr-6">
    <img src="PFP_linkedin.jpg" class="object-contain h-24 w-24 border border-orange-300" alt="Profile Picture" />
  </div>
  <div>
    <h2 class="text-4xl">Jonathan Szekely</h2>
    <h1 class="text-xl">Senior Front-End Developer</h1>
    <div class="text-sm">Cluj, Romania (EU)</div>
  </div>

  <div class="contact ml-auto text-sm">
    <div>Email : jonathanszekely3&#64;gmail.com</div>
    <div>Phone : 0040 747 895 038</div>
    <div>Linkedin: <a href="https://www.linkedin.com/in/jonathan-szekely-7b96bb150">https://www.linkedin.com/in/jonathan-szekely-7b96bb150</a></div>
    <div>Github: <a href="https://github.com/JonathanSzekely">https://github.com/JonathanSzekely</a></div>
  </div>
</div>

