// $theme-orange-400: theme('colors.orange.400');
$theme-orange-400: --var(--color-orange-400);

.project {
  @apply relative pl-20;
  &::before {
    content: '';
    @apply block absolute top-0 left-12 w-0.5 h-full bg-sky-300;
  }
  &::after {
    content: '';
    @apply block absolute w-3 h-3 bg-orange-400;
    left: calc( theme('spacing.11') - theme('spacing.px') );
    top: calc( theme('spacing.7') + theme('spacing.px') );
  }

  &:first-of-type::before {
    @apply top-12;
  }

  &:first-of-type::after {
    @apply size-4 border-2 border-slate-950 outline outline-1 outline-orange-300;
    left: calc( theme('spacing.10') + theme('spacing.px') );
    top: calc( theme('spacing.7') - theme('spacing.[0.5]') );
  }

  &:last-of-type::before {
    @apply h-8;
  }
}
